/* 공통 */
* {padding: 0; margin: 0; box-sizing: border-box;}
ol,li,ul {list-style: none;}
a{text-decoration: none; color: #111; display: inline-block;}
body {font-size: 14px; color: #111;}
.blind {position: absolute; left: -99999px; font-size: 0;}
.wrap {max-width: 1600px; margin: 0 auto; position: relative;}
.detail_wrap {max-width: 1200px; margin: 0 auto; position: relative;}


/* flex_type */
.flex_start {display: flex; justify-content: flex-start;}
.flex_end {display: flex; justify-content: flex-end;}
.flex_center {display: flex; justify-content: center;}
.flex_between {display: flex; justify-content: space-between;}
.flex_around {display: flex; justify-content: space-around;}


/* title_style */
.prod_h2 {text-align: center; margin: 20px 0; font-size: 30px;}
.prod_h3 {margin: 50px 0 10px 0; font-size: 20px;}
.prod_h4 {font-size: 18px;}
.prod_h5 {font-size: 16px;}


/* 헤더 */
/* 공통 */
#header {position: fixed; top: 0; width: 100%; border-bottom: 1px solid #d1d1d1; background: white; height: 100px; z-index: 999; transition: .2s;}
/* total_menu */
.total_menu {width: 35px; height: 30px; cursor: pointer; top: 5px; transition: 0.2s; line-height: 80px; position: fixed; z-index: 1001; margin-left: 20px;}
.total_menu .menu_btn {position: relative; top: 30%; transition: .2s; width: 100%; height: 100%;}
.menu_btn span {position: absolute; left: 0; width: 100%; height: 3px; background: #111; border-radius: 30px; transition: .3s; display: inline-block; z-index: 1001;}
.menu_btn span:nth-child(1) {top: 0;}
.menu_btn span:nth-child(2) {top: 50%; transform: translateY(-50%);}
.menu_btn span:nth-child(3) {bottom: 0;}
.menu_btn.open_menu span {position: absolute; width: 100%; height: 4px; border-radius: 30px; transition: .3s; display: inline-block; z-index: 1004;}
.menu_btn.open_menu span:nth-child(1) {top: 50%; transform: translateY(-50%) rotate(45deg); z-index: 1004;}
.menu_btn.open_menu span:nth-child(2) {opacity: 0;}
.menu_btn.open_menu span:nth-child(3) {bottom: 50%; transform: translateY(50%) rotate(-45deg); z-index: 1004;}
#slide_menu {height: 100vh; width: 300px; position: fixed; z-index: 1000; backdrop-filter: blur(17px); border-right: 1px solid #666; box-shadow: 1px 1px 1px #666;}
#slide_menu ul {position: relative; top: 130px; padding: 0 30px; width: 100%;}
#slide_menu ul>li {width: 100%; margin-top: 20px;}
#slide_menu ul>li:nth-child(2) ol {width: 100%; flex-wrap: wrap;}
#slide_menu ul>li:nth-child(2) ol li {width: 50%;}
#slide_menu .sld_mn_tit {font-weight: normal; margin-bottom: 10px; font-size: 24px;}
#slide_menu .sld_mn_subtit {margin: 3px; font-size: 16px;}
/* header */
.header_wrap {max-width: 1800px; margin: 0 auto; position: relative; height: 100px; line-height: 100px;}
.header_logo {position: absolute; left: 50%; transform: translateX(-50%); transition: .2s;}
/* snb */
.snb {gap: 15px;}
.snb li {height: 20px; line-height: 20px; position: relative; top: 50%; transform: translateY(-50%);}
/* page_path */
.page_path {position: relative; top: 120px; padding-right: 20px;}
.page_path ul li a {color: #666; font-size: 12px;}
.page_path ul li:last-child a {font-weight: 600;}
.page_path ul li::after {content: url(../images/r_arr_999.png); width: 5px; height: 8px; padding: 0 4px; position: relative; top: 2px;}
.page_path ul li:last-child::after {display: none;}



/** contents **/
/* prod_category */
.contents {transition: .2s; margin-top: 150px;}
.contents_items ul {flex-wrap: wrap;}
.contents_items ul li {width: 25%; padding: 15px;}
.contents_items ul li a {}
.contents_items ul li a img {width: 100%; border-radius: 5px;}
.prod_name {height: 50px; line-height: 50px; font-size: 16px;}
.prod_price {height: 50px; line-height: 50px; font-size: 15px;}
.prod_category {gap: 20px; font-size: 18px; margin-bottom: 50px;}
.prod_category a {color: #666;}
.prod_total {margin-bottom: 100px;}

/* detail & buy */
/* detail */
.prod_detail {width: 66.666%; margin-bottom: 100px; padding-right: 10px;}
.detail_image {width: 100%; margin-bottom: 100px;}
.de_board_tit {gap: 15px; border-bottom: 2px solid #666; padding: 20px 0;}
.de_board_tbl {width: 100%; padding-right: 10px; border-bottom: 1px solid #d1d1d1; padding: 20px 20px 20px 0;}
.de_board_cont_detail {gap: 35px;}
.de_sub_board_btn {margin-top: 20px;}
.de_sub_board_btn ul {gap: 10px;}
.de_sub_board_btn ul li {text-align: center;}
.de_sub_board_btn ul li a {width: 130px; padding: 8px 0;}
.de_sub_board_btn ul li:first-child a {border: 1px solid #d1d1d1;}
.de_sub_board_btn ul li:last-child a {background: #111; color: #fff; border: 1px solid #111;}
.paging_area {margin: 50px 0 100px;}
.page_list {margin: 0 15px; gap: 5px;}
.page_list li {}
.page_num {width: 30px; height:30px; border-radius: 50%; background: #d1d1d1; line-height: 30px; text-align: center;}
/* buy */
.guard {position: relative; width: 33.333%;}
    /* .order_buy.sticky {position: fixed; top: 150px; } */
.order_buy {width: 400px; padding-left: 10px;}
.buy_tbl_info .buy_tit {text-align: left;}
.buy_tbl_info th,td {font-size: 14px;}
.buy_tbl_info tr {height: 25px; line-height: 25px;}
.buy_tbl_info th {text-align: left; padding-right: 15px;}
.buy_tbl_info td {}
.buy_tit {margin-bottom: 20px;}
.buy_tit span {font-size: 14px; color: darkcyan;}
.buy_main {margin-top: 20px;}
.buy_total {margin: 10px 0;}
.buy_total {}
.buy_total i span {font-size: 12px;}
.buy_prod_option {width: 100%; margin: 10px 0; padding: 10px 5px;}
.buy_select_list {padding: 20px 0; border-bottom: 1px solid #d1d1d1;}
.buy_select_list ul {align-items: center;}
.buy_select_list ul li {width: 33.333%;}
.buy_select_list ul li:first-child span {color: #666;}
.buy_select_list ul li:nth-child(2) a,i {cursor: pointer; font-size: 22px; text-align: center;}
.buy_select_list ul li:nth-child(2) a {width: 35px; height: 35px; border: 1px solid #333;}
.buy_select_list ul li:nth-child(2) i {margin-left: 10px; font-size: 20px; color: #666;}
.buy_select_list ul li:nth-child(2) input {width: 50px; height: 35px; text-align: center;}
.buy_select_list ul li:last-child {text-align: right;}
.buy_btn_area {gap: 5px;}
.buy_btn_area li a {width: 100%; text-align: center; padding: 15px 0; border: 1px solid #c1c1c1; height: 100%;}
.buy_btn_area li:first-child {width: 80%; background: #111;}
.buy_btn_area li:first-child a {color: #fff; font-size: 14px;}
.buy_btn_area li:nth-child(2) {width: 15%;}
.buy_btn_area li:last-child {width: 15%;}
.kakao_pay {}
.kakao_pay ul {padding: 15px 0;}
.kakao_pay ul li {height: 40px;}
.kakao_pay ul li:first-child {width: 30%;}
.kakao_pay ul li:nth-child(2) {width: 30%; margin: 0 5px;}
.kakao_pay ul li:nth-child(2) a {width: 100%; height: 100%; padding: 10px; background: #fae100; text-align: center;}
.kakao_pay ul li:last-child {width: 10%;}
.kakao_pay ul li:last-child a {width: 100%; height: 100%; padding: 10px; border: 1px solid #c1c1c1; text-align: center;}
.naver_pay {}
.naver_pay ul {padding: 15px 0;}
.naver_pay ul li {height: 40px;}
.naver_pay ul li:first-child {width: 30%;}
.naver_pay ul li:nth-child(2) {width: 30%; margin: 0 5px;}
.naver_pay ul li:nth-child(2) a {width: 100%; height: 100%; padding: 10px; background: #00de5a; text-align: center;}
.naver_pay ul li:last-child {width: 10%;}
.naver_pay ul li:last-child a {width: 100%; height: 100%; padding: 10px; border: 1px solid #c1c1c1; text-align: center;}
.buy_sub {padding-top: 20px; border-top: 1px solid #d1d1d1; margin-top: 20px;}
.buy_more {margin-bottom: 10px;}
.buy_more span {margin-left: 15px; color: #666;}
.buy_more_select {}
.buy_sub_image {width: 80px;}
.sub_item1 {width: 100%;}
.buy_sub_detail {width: 80%; height: 80px; padding-left: 20px;}
.buy_sub_detail ul {height: 100%;}
.buy_sub_detail ul li {height: 30%;}
.buy_sub_detail ul li:nth-child(3) {padding-top: 10px;}
.sub_select {width: 100%;}


footer {height: 300px; background: #3b3b3b;}






/* media */
@media screen and (max-width: 1850px) {
    .header {padding: 0 20px;}
}

@media screen and (max-width: 1640px) {
    .contents {padding: 0 20px;}
    .contents_items {padding: 0 20px;}
}

@media screen and (max-width: 1200px) {
    #header {height: 80px;}
    .total_menu {transform: scale(0.8);}
    .header_wrap {height: 80px; line-height: 80px;}
    .total_menu .menu_btn {top: 40%;}
    .header_logo {transform: translateX(-50%) scale(0.8);}

    .snb li {display: none;}
    .snb .snb_search,.snb .snb_cart {display: block;}
    
    .contents {margin-top: 130px; flex-wrap: wrap-reverse;}
    .prod_detail {width: 100%; padding: 0;}
    .guard {width: 100%; height: 100%; margin-bottom: 80px;}
    .order_buy.sticky {position: relative; top: 0;}
    .order_buy {width: 100%;}
    .contents_items ul li {width: 33.333%;}
}

@media screen and (max-width: 767px) {
    .contents_items ul li {width: 50%;}
}












