/* 공통 */
* {padding: 0; margin: 0; box-sizing: border-box;}
ol,li,ul {list-style: none;}
a{text-decoration: none; color: #111; display: inline-block;}
body {font-size: 14px; color: #111;}
.blind {position: absolute; left: -99999px; font-size: 0;}
.wrap {max-width: 1600px; margin: 0 auto; position: relative;}
.detail_wrap {max-width: 1200px; margin: 0 auto; position: relative;}


/* flex_type */
.flex_start {display: flex; justify-content: flex-start;}
.flex_end {display: flex; justify-content: flex-end;}
.flex_center {display: flex; justify-content: center;}
.flex_between {display: flex; justify-content: space-between;}
.flex_around {display: flex; justify-content: space-around;}


/* title_style */
.prod_h2 {text-align: center; margin: 20px 0; font-size: 30px;}
.prod_h3 {margin: 50px 0 10px 0; font-size: 20px;}
.prod_h4 {font-size: 18px;}
.prod_h5 {font-size: 16px;}


/* 헤더 */
/* 공통 */
#header {position: fixed; top: 0; width: 100%; background: #999; height: 100px; z-index: 999; transition: .2s;}
.header {}
/* total_menu */
.total_menu {width: 35px; height: 30px; cursor: pointer; top: 5px; transition: 0.2s; line-height: 80px; position: fixed; z-index: 1002;}
.total_menu .menu_btn {position: relative; top: 30%; transition: .2s; width: 100%; height: 100%;}
.menu_btn span {position: absolute; left: 0; width: 100%; height: 3px; background: #111; border-radius: 30px; transition: .3s; display: inline-block; z-index: 1001;}
.menu_btn span:nth-child(1) {top: 0;}
.menu_btn span:nth-child(2) {top: 50%; transform: translateY(-50%);}
.menu_btn span:nth-child(3) {bottom: 0;}
.menu_btn.open_menu span {position: absolute; width: 100%; height: 4px; border-radius: 30px; transition: .3s; display: inline-block; z-index: 1004;}
.menu_btn.open_menu span:nth-child(1) {top: 50%; transform: translateY(-50%) rotate(-45deg); z-index: 1004;}
.menu_btn.open_menu span:nth-child(2) {opacity: 0;}
.menu_btn.open_menu span:nth-child(3) {bottom: 50%; transform: translateY(50%) rotate(45deg); z-index: 1004;}
#slide_menu{height: 100vh; width:200px; background: rgba(255,0,0,1); position: fixed; z-index: 1000;}
/* header */
.header_wrap {max-width: 1800px; margin: 0 auto; position: relative; height: 100px; line-height: 100px;}
.header_logo {position: absolute; left: 50%; transform: translateX(-50%); transition: .2s;}
/* snb */
.snb {gap: 15px;}
.snb li {height: 20px; line-height: 20px; position: relative; top: 50%; transform: translateY(-50%);}



                                                                                                                .page_path {height: 10000px;}
/** contents **/
/* prod_category */
.contents {transition: .2s; margin-top: 150px;}
.contents_items ul {flex-wrap: wrap;}
.contents_items ul li {width: 25%; padding: 15px;}
.contents_items ul li a {border-radius: 10px; width: 100%; height: 0; padding-top: 100%;}
.prod_name {height: 50px; line-height: 50px; font-size: 16px;}
.prod_price {height: 50px; line-height: 50px; font-size: 15px;}
.prod_category {gap: 20px; font-size: 18px; margin-bottom: 50px;}
.prod_category a {color: #666;}
/*new*/
.prod_new .prod_new_items li .prod_new_item1 { background: url(../images/prod_face1.png) no-repeat 60% 0 / cover;}
.prod_new .prod_new_items li .prod_new_item2 { background: url(../images/prod_face2.png) no-repeat 60% 0 / cover;}
/*total*/
.prod_total {}
.prod_total .prod_total_items li .prod_total_item1 { background: url(../images/prod_face1.png) no-repeat 60% 0 / cover;}
.prod_total .prod_total_items li .prod_total_item2 { background: url(../images/prod_face2.png) no-repeat 60% 0 / cover;}
.prod_total .prod_total_items li .prod_total_item3 { background: url(../images/prod_face3.png) no-repeat 60% 0 / cover;}
.prod_total .prod_total_items li .prod_total_item4 { background: url(../images/prod_face4.png) no-repeat 60% 0 / cover;}
.prod_total .prod_total_items li .prod_total_item5 { background: url(../images/prod_face5.png) no-repeat 60% 0 / cover;}

/* detail & buy */
/* detail */
.prod_detail {width: 66.666%; margin-bottom: 250px;}
.detail_image {width: 100%; padding-right: 10px;}
.detail_review table {width: 100%; padding-right: 10px;}
/* buy */
.guard {position: relative; width: 33.333%;}
    /* .order_buy.sticky {position: fixed; top: 150px; } */
.order_buy {width: 400px; padding-left: 10px;}
.buy_tbl_info .buy_tit {text-align: left;}
.buy_tbl_info th,td {font-size: 14px;}
.buy_tbl_info tr {height: 25px; line-height: 25px;}
.buy_tbl_info th {text-align: left; padding-right: 15px;}
.buy_tbl_info td {}
.buy_tit {margin-bottom: 20px;}
.buy_tit span {font-size: 14px; color: darkcyan;}
.buy_main {margin-top: 20px;}
.buy_total {margin: 10px 0;}
.buy_total p {}
.buy_total i span {font-size: 12px;}
.buy_prod_option {width: 100%; margin: 10px 0; padding: 10px 5px;}
.buy_btn_area {gap: 5px;}
.buy_btn_area li {}
.buy_btn_area li a {width: 100%; text-align: center; padding: 15px 0; border: 1px solid #c1c1c1;}
.buy_btn_area li:first-child {width: 80%; background: #111;}
.buy_btn_area li:first-child a {color: #fff; font-size: 14px;}
.buy_btn_area li:nth-child(2) {width: 15%;}
.buy_btn_area li:last-child {width: 15%;}
.kakao_pay {}
.kakao_pay ul {padding: 15px 0;}
.kakao_pay ul li {height: 40px;}
.kakao_pay ul li:first-child {width: 30%;}
.kakao_pay ul li:nth-child(2) {width: 30%; margin: 0 5px;}
.kakao_pay ul li:nth-child(2) a {width: 100%; height: 100%; padding: 10px; background: #fae100; text-align: center;}
.kakao_pay ul li:last-child {width: 10%;}
.kakao_pay ul li:last-child a {width: 100%; height: 100%; padding: 10px; border: 1px solid #c1c1c1; text-align: center;}
.naver_pay {}
.naver_pay ul {padding: 15px 0;}
.naver_pay ul li {height: 40px;}
.naver_pay ul li:first-child {width: 30%;}
.naver_pay ul li:nth-child(2) {width: 30%; margin: 0 5px;}
.naver_pay ul li:nth-child(2) a {width: 100%; height: 100%; padding: 10px; background: #00de5a; text-align: center;}
.naver_pay ul li:last-child {width: 10%;}
.naver_pay ul li:last-child a {width: 100%; height: 100%; padding: 10px; border: 1px solid #c1c1c1; text-align: center;}
.buy_sub {padding-top: 20px; border-top: 1px solid #d1d1d1; margin-top: 20px;}
.buy_more {margin-bottom: 10px;}
.buy_more span {margin-left: 15px; color: #666;}
.buy_more_select {}
.buy_sub_image {width: 80px;}
.sub_item1 {width: 100%;}
.buy_sub_detail {width: 80%; height: 80px; padding-left: 20px;}
.buy_sub_detail ul {height: 100%;}
.buy_sub_detail ul li {height: 30%;}
.buy_sub_detail ul li:nth-child(3) {padding-top: 10px;}
.sub_select {width: 100%;}


footer {height: 300px; background: #999; }

/* media */
@media screen and (max-width: 1850px) {
    .header {padding: 0 20px;}
}

@media screen and (max-width: 1640px) {
    .contents {padding: 0 20px;}
    .contents_items {padding: 0 20px;}
}

@media screen and (max-width: 1200px) {
    #header {height: 80px;}
    .total_menu {transform: scale(0.8);}
    .header_wrap {height: 80px; line-height: 80px;}
    .total_menu .menu_btn {top: 40%;}
    .header_logo {transform: translateX(-50%) scale(0.8);}

    .snb li {display: none;}
    .snb .snb_search,.snb .snb_cart {display: block;}
    
    .contents {margin-top: 130px; flex-wrap: wrap-reverse;}
    .prod_detail {width: 100%;}
    .guard {width: 100%; height: 100%; margin-bottom: 80px;}
    .order_buy.sticky {position: relative; top: 0;}
    .order_buy {width: 100%;}
    .contents_items ul li {width: 33.333%;}
}

@media screen and (max-width: 767px) {
    .contents_items ul li {width: 50%;}
}


